<h1>ramdon beer</h1>
    <h3>{{beer.name}} {{@key}}</h3>
<div class="container">
    <p>{{beer.description}}</p>
    <img src="{{beer.image_url}}" alt="{{beer.name}}">
</div>


{{!-- <h1>Random beers</h1>
{{#each responseFromAPI}}
<div class="container">
    <h3>{{this.name}} {{@key}}</h3>
    <p>{{this.description}}</p>
    <img src="{{this.image_url}}" alt="{{this.name}}">
</div>
{{/each}} --}}